#ex01 .recipe {
  transition: transform 0.3s;
}

#ex01 .recipe:hover {
  transform: scale(1.1);
}

#ex02 img {
  transition: transform 0.3s;
}

#ex02 .recipe:hover img {
  transform: rotate(5deg);
}

#ex03 img {
  transition: opacity 0.3s;
}

#ex03 .recipe:hover img {
  opacity: 60%;
}
