#ex01 .recipe {
  transition: transform 0.3s;
}

#ex01 .recipe:hover {
  transform: scale(1.1);
}

#ex02 img {
  transition: transform 0.3s;
}

#ex02 .recipe:hover img {
  transform: rotate(5deg);
}

#ex03 img {
  transition: opacity 0.3s;
}

#ex03 .recipe:hover img {
  opacity: 60%;
}

#ex04 .recipe-title {
  transition: transform 0.3s;
}

#ex04 .recipe:hover .recipe-title {
  transform: translateX(20px);
}

#ex05 .recipe-title {
  transition: transform 0.3s 0.3s;
}

#ex05 .recipe:hover .recipe-title {
  transform: translateX(20px);
}

#ex06 .recipe-title {
  transition: padding-bottom 0.3s;
}

#ex06 .recipe:hover .recipe-title {
  padding-bottom: 25px;
}
